In [2]:
a, b, c = map(int, input("").split())

minimum_value = min(a, b, c)

print( minimum_value)

5

In [3]:
n = int(input(""))


total_sum = 0


for i in range(1, n + 1):
    
    if i % 3 == 0 or i % 7 == 0:
        total_sum += i


print( total_sum)

21426429

In [4]:
n = int(input(""))

for i in range(1, n + 1):
    print('*' * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [5]:
n = int(input(""))

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    print()

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910
1234567891011
123456789101112
12345678910111213

In [6]:
a, b, c = map(int, input("").split())

if a + b > c and a + c > b and b + c > a:
    print("Valid")
else:
    print("Invalid")

Invalid

In [7]:
year = int(input(""))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year ,"is leap year")
else:
    print(year,"is common year")

2100 is common year

In [8]:
input_number = int(input(""))

for i in range(input_number, 10):
    for j in range(1, 10):
        print(f"{i}*{j}={i*j}", end=' ')
    print()

1*1=1 1*2=2 1*3=3 1*4=4 1*5=5 1*6=6 1*7=7 1*8=8 1*9=9
2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [9]:
a = input("")
print("Ans {}".format(a))

Ans 9487

In [10]:
a = input()

b = map(int, a.split())

c = sum(b)

print(c)

5

In [11]:
a = input("")
print(len(a))

16

In [12]:
g =int(input(""))
if(90 <= g <= 100):
    print(g,"is A")
elif(80<= g <= 89):
    print(g,"is B")
elif(70 <= g <= 79):
    print(g,'is C')
elif(60 <= g <= 69):
    print(g,'is D')
elif(0<= g <= 59):
    print(g,"is E")
else:
    print(g,"is error")

90 is A

In [14]:
g =int(input(""))
if( g >= 100000):
    a = g * 0.8
    print("80% discount is" ,a)
elif(50000<= g <= 99999):
    a = g * 0.85
    print("85% discount is" ,a)
elif(30000 <= g <= 49999):
    a = g * 0.9
    print("90% discount is" ,a)
elif(10000 <= g <= 29999):
    a = g * 0.95
    print("95% discount is" ,a)
else:
    print("no discount is",g)

no discount is 99

In [15]:
a = input("")
start, end, step = map(int, a.split())

for i in range(start, end, step):
    print(i , end=",")

1,10,19,28,37,46,55,64,73,82,91,100,

In [16]:
a = input("")
start, end, step = map(int, a.split())

number_list = list(range(start, end, step))

print(number_list)

[11, 18, 25, 32, 39, 46, 53, 60, 67, 74, 81, 88, 95]

In [17]:
m = int(input(""))

hours = m// 60
remaining_minutes = m % 60

if m<= 60:
    fee = 20
else:
    fee = hours * 40 + (20 if remaining_minutes > 0 else 0)

if fee > 300:
    fee = 300

print(f"park time:{hours}h:{remaining_minutes}m")
print(f"pay:{fee} money")

park time:0h:55m
pay:20 money

In [18]:
a, b = map(int, input("").split())

c = []

for i in range(a, b + 1):
    if 100 <= i <= 999:
        hundreds = i // 100
        tens = (i // 10) % 10
        ones = i % 10
        sum_of_cubes = hundreds**3 + tens**3 + ones**3
        if sum_of_cubes == i:
            c.append(i)
print(",".join(map(str, c)) + ",")

153,

In [21]:
t = float(input())
b = float(input())
h = float(input())

area = (t + b) * h / 2

print(f"t={t} b={b} h={h} area={area}")

ValueError: could not convert string to float: '9 14 8.2'

In [22]:
a = float(input())
b = float(input())

c = a % b

print(c)

ValueError: could not convert string to float: '100 7.5'

In [24]:
a = float(input())
b = float(input())

c = a / b

print(c)

ValueError: could not convert string to float: '100 7.5'